################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogUi/bin
/BlogUi/obj
/.vs
